{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="container">
        <div class="blog-post-container">
            <div class="card m-auto">
            <a href="{% url 'blog:detail' post.slug %}">
                <img src="{{ post.image.url }}" class="card-img-top">
            </a>
            <div class="card-body my-2">
                <a href="{% url 'blog:detail' post.slug %}">
                    <h2 class="class-title">{{ post.title }}</h2>
                </a>
                <p class="card-text">{{ post.content }}</p>
                <hr>
                {% if post.author == request.user %}
                    <h3><a href="{% url 'blog:edit' post.slug %}">Update</a></h3>
                {% endif %}
            </div>
                
            <div class="card-footer text-muted">
                    Created at: {{ post.date_published }}
                    Updated On: {{ post.date_updated }}
                    Author: {{ post.author }}
            </div>
        </div>
        </div>
        </div>

    {% endfor %}
{% endblock %}